.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.friend .friend__brown {
    /*friend__avatar */
    width: 50px;
    border-radius: 35%;
}

.g-avatar.friend__brown {
    width: 70px;
}

.friend__brown.m-avatar {
    width: 60px;
}

.friend__birthday i {
    width: 60px;
    height: 60px;
    border-radius: 35%;
    background-color: #E15A97;
    color: white;
    padding-top: 12px;
    text-align: center;
}

.friend__content.friend__birthday {
    display: flex;
    justify-content: space-between;
}

.friend__birthday .birthday_title {
    margin-right: 110px;
}

.friend__birthday .birthday_content {
    opacity: 0.7;
    font-size: 15px;
}

.friend .friend__column {
    display: flex;
    align-items: center;
}

.friend .friend__brown {
    margin-right: 15px;
}

.friend__content .friend__name {
    display: block;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.friend__name .friend__me {
    color: white;
    background-color: black;
    font-size: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    margin-right: 5px;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
    opacity: 0.7;
}

.friend__content .friend__bottom-text,
.friend .chat__timestamp {
    /* only on chat page  */
    font-size: 12px;
}

.friend .friend__now-listening {
    border: 2px solid#52e084;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.friend .friend__now-listening span {
    opacity: 0.6;
    flex: none;
}

.friend__now-listening i {
    margin-right: -5px;
    margin-left: 7px;
    font-size: 12px;
}